@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome DjanGouCompany</h1>
    <p>Learn about <a href="https://www.google.com">Click here to learn more about us....</a>.</p>
</div>
